services:
  server:
    build: ./server
    container_name: server
    env_file:
      - .env
    ports:
      - "${SERVER_PORT}:8080"
    environment:
      - MARIA_HOST=db
      - MARIA_PORT=3306
    depends_on:
      - db
    restart: unless-stopped
    volumes:
      - ./server:/app
      - common:/shared
    networks:
      - back-tier

  client_web:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: client_web
    ports:
      - "8081:3000"
    restart: unless-stopped
    depends_on:
      - server
      - client_mobile
    volumes:
      - ./web:/app
      - common:/shared
    networks:
      - back-tier

  client_mobile:
    build:
      context: ./mobile
      dockerfile: Dockerfile
    container_name: client_mobile
    restart: unless-stopped
    volumes:
      - common:/shared
    environment:
    - EXPO_ROUTER_APP_ROOT=app
    ports:
      - "19000:19000"
      - "19001:19001"
      - "19002:19002"
      - "8081:8081"
    networks:
      - back-tier

  db:
    image: mariadb:12
    container_name: db
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
    restart: unless-stopped
    networks:
      - back-tier

  adminer:
    image: adminer
    container_name: adminer
    restart: unless-stopped
    ports:
      - "8082:8080"
    depends_on:
      - db
    networks:
      - back-tier

volumes:
  mariadb_data:
  common:

networks:
  back-tier:
