Flask==3.0.3
Flask-SQLAlchemy==3.1.1
flask_migrate==4.0.7
flask_jwt_extended==4.6.0
pymysql==1.1.1
python-dotenv==1.0.0
requests==2.31.0
flask-cors==3.0.10
APScheduler==3.10.4
flasgger
discord
cryptography
pytest 
pytest-flask 
pytest-mock

